{% extends "base.html" %}

{% block title_head %}
<title>tablets</title>
{% endblock title_head %}

{% block title_body1 %}
Crea y Registra tu Tablet
{% endblock title_body1 %}

{% block title_body2 %}
Completa los datos de tu equipo
{% endblock title_body2 %}

{% block seccion_body1 %}

<form action="" method="POST">
    {% csrf_token %}
    {{formulario_tab}}
    <input type="submit" value="Crear">
</form>

{% endblock seccion_body1 %}

{% block contact_section %}

{% endblock contact_section %}
